.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  padding-top: 4rem;
}

.container h1{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
