.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
  font-size: 1rem;
  text-align: center;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #6262737d;
  backdrop-filter: blur(.5rem);
  border-radius: .5rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.sideBySide div {
  width: 30%;
}


.container h1{
  text-align: center;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  margin-bottom: .25rem;
}

@media only screen and (max-width: 600px) {
  .sideBySide{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .container h1 {
  margin-right: 0;
  }

  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 1.25rem;
  }
}
