.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
  font-size: 1rem;
  text-align: center;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #6262737d;
  backdrop-filter: blur(.5rem);
  border-radius: .5rem;
}


.container h1{
  text-align: center;
  margin-right: 3rem;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  margin-bottom: .25rem;
}
