.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
  font-size: 1rem;
  margin-bottom: 3rem;
  background-color: #161515;
}

.container li::marker {
  color: #00abe9
}

.sideBySide {
  display: flex;
  flex-direction: row;
}

.left, .right {
  width: 50%;
  padding: 0 1rem;
}

.right {
  /* background-color: #6262737d; */
  /* backdrop-filter: blur(.5rem); */
  /* border-radius: .5rem; */
}

.container h1{
  text-align: center;
}

#mountains {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .container {
    /* width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0; */
  }

  .sideBySide{
    flex-direction: column;
  }

  .left {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0;
  }

  #mountains {
  width: 100%;
  height: 100%;
}

  .right {
    width: 89%;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
}
