.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #dedddd;
  z-index: 0;
  padding: 50px;
  font-size: 20px;
}

.sideBySide {
  display: flex;
  flex-direction: row;
}


.container h1{
  text-align: center;
}

#mountains {
  width: 90%;
  margin-top: 20px;
  border: 3px solid white;
}
