.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #dedddd;
  z-index: 0;
  padding: 3rem;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.sideBySide {
  display: flex;
  flex-direction: row;
}


.container h1{
  text-align: center;
}

#mountains {
  width: 90%;
  margin-top: 1rem;
}
