html, body {
  height: 100%;
  background-color: #dedddd;
}

.app {
  display: flex;
  height: 100%;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 77%;
  height: 100%;
  flex-grow: 1;
  background-color: #dedddd;
  z-index: 0;
  padding: 50px;
  font-size: 20px;
  margin-left: 23%;
}

.pageContainer h1{
  text-align: center;
  color: #010140;
}

#mountains {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
}

.contactCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contactCard {
  display: flex;
  width: 150px;
  height: 75px;
  background-color: #010140;
  margin: 25px;
  align-items: center;
  justify-content: center;
}

.contactCard a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.contactCard a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.projectPreview img{
  width: 33%;
}
