html {
  height: 100%;
}

.app {
  display: flex;
  text-align: center;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 1, 64);
  color: white;
  width: 20%;
  height: auto;
  padding-top: 25px;
  align-items: flex-start;
}

#headshot {
  border-radius: 50%;
  border: 3px solid white;
  width: 75%;
}

nav li {
  list-style: none;
  margin-bottom: 15px;
  color: red;
}

.nav a {
  color: white;
}
