html, body {
  height: 100%;
  background-color: #dedddd;
}

.app {
  display: flex;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #010140;
  color: white;
  width: 20%;
  height: 100%;
  padding: 25px;
  align-items: flex-start;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, .5);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  /* display: none; */
}

#headshot {
  border-radius: 50%;
  border: 3px solid white;
  width: 75%;
}

nav li {
  list-style: none;
  margin-bottom: 15px;
  color: red;
}

.nav a {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 77%;
  height: 100%;
  flex-grow: 1;
  background-color: #dedddd;
  z-index: 0;
  padding: 50px;
  font-size: 20px;
  margin-left: 23%;
}

.pageContainer h1{
  text-align: center;
  color: #010140;
}

#mountains {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
}

.contactCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contactCard {
  display: flex;
  width: 150px;
  height: 75px;
  background-color: #010140;
  margin: 25px;
  align-items: center;
  justify-content: center;
}

.contactCard a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.contactCard a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
